@import url('https://fonts.googleapis.com/css?family=Philosopher:400,700&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

$mainFont: 'Philosopher', sans-serif;
$logoFont: 'Emilys Candy', cursive, sans-serif;
$sloganFont: 'Sacramento', cursive, sans-serif;
$textFont: 'Open Sans', sans-serif;