<div class="popup cart">
    <div class="popup__window">
        <div class="popup-close close-icon">&times;</div>
        <div class="popup-content">
            <div class="page-header">Кошик</div>
            <div class="product-list-wrap">
                <ul class="product-list scrolling">
                </ul>
            </div>
            <div class="product-list__result">
                <div class="total">
                    Разом:
                    <span>
                        <strong>0</strong>
                        грн
                    </span>
                </div>
            </div>

            <div class="align-center">
                <div data-location="/checkout/" class="button">Оформити замовлення</div>
            </div>
            <div class="align-center">
                <div class="link">Продовжити покупки</div>
            </div>
        </div>
    </div>
</div>