<div class="popup cart">
    <div class="popup__window">
        <div class="popup-close close-icon">&times;</div>
        <div class="popup-content">
            <div class="page-header">Кошик</div>
            <div class="product-list-wrap">
                <ul class="product-list scrolling">
                    {{!-- <li data-id="" class="product-list__item">
                        <a href="" class="product__image">
                            <img src="" title="" alt="">
                        </a>
                        <div class="product__column">
                            <a href="">
                                <div class="product__header">Шоколадний капкейк з полуницею</div>
                            </a>
                            <div class="product__count-list">
                                <div class="product__button-decrease">
                                    
                                </div>
                                <input type="text" readonly name="count[]" value="1">
                                <div class="product__button-increase">
                                    
                                </div>
                            </div>
                            <div class="product__button-remove">&times;</div>
                            <div class="product__price-column">
                                <div class="product__price">0 грн</div>
                            </div>
                        </div>
                    </li> --}}
                </ul>
            </div>
            <div class="product-list__result">
                <div class="discount" style="display: none">
                    <strong></strong>
                    <span>
                        <strong>0</strong>
                        грн
                    </span>
                </div>
                <div class="total">
                    Разом:
                    <span>
                        <strong>0</strong>
                        грн
                    </span>
                </div>
            </div>

            <div class="align-center">
                <div data-location="/checkout/" class="button">Оформити замовлення</div>
            </div>
            <div class="align-center">
                <div class="link">Продовжити покупки</div>
            </div>
        </div>
    </div>
</div>