<div class="adress-tel-email">
    <ul>
        <li><a href="https://goo.gl/maps/WmGyMFLSoThKUkBj9" target="_blank">
                <h2>АДРЕСА</h2>
                <p>Київська обл., м. Боярка,</br> вул. Пастернака, 85б</p>
            </a></li>
        <li><a href="tel:380636541115">
                <h2>ТЕЛЕФОН</h2>
                <p>+38 (063) 654 11 15</p>
            </a></li>
        <li><a href="tel:380446541115">
                <h2>ФАКС</h2>
                <p>+38 (044) 654 11 15</p>
            </a></li>
        <li><a href="mailto:lovecake@gmail.com" target="_blank">
                <h2>EMAIL</h2>
                <p>lovecake@gmail.com</p>
            </a></li>
</div>
<div class="contactsForm">
    <form class="transparent js-form-validate">
        <div class="formInner">
            <h3>ЧЕКАЄМО НА ВАШІ ЗАПИТАННЯ</h3>
            <label for="username">Ваше ім'я</label>
            <input type="text" id="username" required>
            <label for="email">Email</label>
            <input id="email" type="email" required>
            <label for="message">Текст повідомлення</label>
            <textarea name="message" id="message" maxlength="1024" required></textarea>
            <input type="submit" id="submitButton" value="Надіслати">
        </div>
    </form>
    <div class="thankYou">
        <div class="thankYouInner">Дякуємо за Ваше повідомлення! Очікуйте на відповідь найближчим часом!</div>
    </div>
</div>