<footer>
    <div class="container">
        <div class="copyright">
            <div class="logo">LoveCake</div>
            <div class="slogan">For You</div>
            <div class="year">2019</div>
        </div>
    </div>
</footer>