.contactsContent {
    background-color: $mainColor1;
}
.contactsContent h1 {
    margin-bottom: 100px; 
    margin-top: 80px;  
}
.adress-tel-email {
    margin-left: 80px;
    margin-right: 100px;
    text-align: right;
}
.adress-tel-email li {
    margin-bottom: 80px; 
}
.contactsMain {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.adress-tel-email h2 {
    color: $mainColor2;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.contactsForm {
    margin-right: 80px;
}
.transparent {
    position: relative;
    max-width: 900px;
    background-image: url(../images/form3.jpg);
    background-size: cover;
    padding: 50px;
    width: 900px;
}
.transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right bottom, rgba(78, 43, 61, 0.41), rgba(82, 46, 79, 0.77));
}
.formInner {
    position: relative;
}
.formInner h3 {
    position: relative;
    margin-top: 0;
    color: $mainColor1;
    font-family: $textFont;
    font-weight: 300;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.formInner h3:after {
    content: "";
    position :absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 60px;
    background: $mainColor2;
}
.formInner label {
    display: block;
    padding-left: 15px;
    font-family: $textFont;
    color: rgba(255,255,255,.6);
    text-transform: uppercase;
    font-size: 14px;
}
.formInner input, textarea {
    display: block;
    width: 100%;
    padding: 0 15px;
    margin: 10px 0 15px;
    border-width: 0;
    line-height: 40px;
    border-radius: 10px;
    color: $mainColor1;
    background: rgba(255,255,255,.2);
    font-family: $textFont;
}
#submitButton {
    background-color: #ca6074b8;
    margin-bottom: 0;
}
#submitButton:hover {
    background-color: $mainColor2;
}
.adress-tel-email li:hover {
    color: $mainColor2;
}
a, a:hover {
    text-decoration: none;
    color: inherit;
}
.thankYou {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: $mainColor1;
    display: none;
}
.thankYouInner{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-width: 450px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 20px;
    background: $mainColor2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}  
input, textarea {
    &:focus {
        outline: none;
    }
}
@media (max-width: 1330px) {
    .transparent {
        max-width: 750px;
    }
}
@media (max-width: 1130px) {
    .contactsMain {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        margin-right: 0;
    }   
    .adress-tel-email {
        text-align: center;
    }
   .transparent {
        width: 100%;
        max-width: unset;
    }
    .contactsForm {
        margin-right: 0;
    }
    .formInner {
        margin: auto;
        max-width: 500px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .contactsContent h1 {
        margin-bottom: 50px;
    }
    .contactsForm {
        margin: 0;
    }
    .contactsMain {
        margin-bottom: 0;
    }
}
@media (max-width: 767px) {
    .contactsMain {
        margin-bottom: 0;
    }
    .card-body {
        margin-left: 0;
        margin-right: 0;
        padding: 0.5rem;
    }
    .mainContent .card-deck, .adress-tel-email {
        margin-left: 0;
        margin-right: 0;
    }
    .mainContent {
        margin-top: 30px;
    }
    .mainContent h1 {
        margin-bottom: 30px;
    }
    .card-deck .card {
        margin-bottom: 30px;
    }
    .contactsContent h1 {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .adress-tel-email li {
        margin-bottom: 30px;
    }
    .adress-tel-email h2 {
        margin-bottom: 0;
    }
    .thankYouInner {
        max-width: 250px;
        max-height: 200px;
        width: 100%;
        height: 100%;
    }
    .transparent {
        padding: 35px 25px 35px 25px;
    }
}