.thumb img {
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
}
.thumb {
    padding: 0;
    position: relative;
}
.productionText {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: url(..//images/production2.jpg);
    background-size: cover;
    background-position: center center;
}
.text {
    font-family: $mainFont;
    z-index: 2;
    text-transform: uppercase;
    font-size: 24px;
    padding: 10px;
    // border: 2px solid $mainColor2;
    color: $mainColor2;
    background-color: #ffffffc7;
    text-align: center;
    letter-spacing: 1.5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    /* display: flex;
    margin-top: 80px;
    justify-content: center; */
    // cursor: pointer;
}
.text a:hover {
    text-decoration: underline;
}
/* .productionText a {
    // font-family: $textFont;
    z-index: 2;
    text-transform: uppercase;
    font-size: 18px;
    padding: 14px;
    border: 2px solid $mainColor2;
    color: $mainColor2;
    background-color: $mainColor1;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 5px;
} */
.btnText:hover {
    background-color: #ca6074;
    color: white;
} 
.btnText {
    background-color: white;
    color: #ca6074;
    display: flex;
    align-items: center;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 550;
    border: 2px solid #ca6074;
    justify-content: center;
    text-align: center;
}
.cakeConstructor {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cupcakeImage {
    width: 500px;
    height: 500px;
    margin: 60px 50px;
    position: relative;
}
@media (max-width: 1100px) {
    .text {
        margin-left: 50px;
        margin-right: 50px;
    }
}
.thumb img:hover {
    border: 2px solid $mainColor2;
}
.imgBack {
    background-color: $mainColor2;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    filter: none;
    border-radius: 5px;
    border: 2px solid $mainColor2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.thumb:hover .imgFront {
    transform: rotateY(180deg);
}
.thumb:hover .imgBack {
    transform: rotateY(0deg);
}
.thumb .imgBack {
    transform: rotateY(-180deg);
}
.thumb .imgFront, .thumb .imgBack {
    backface-visibility: hidden;
    transition: all 0.3s ease-in;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.cakeTitle {
    color: white;
    font-size: 26px;
    font-family: $mainFont; 
    text-transform: uppercase;
}
.ingredients, .price {
    font-family: $textFont;
}
.ingredients span {
    color: white;
    text-transform: uppercase; 
}
.price span {
    color: white;
    text-transform: uppercase; 
}
.btnBuy {
    background-color: white;
    color: $mainColor2;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    text-transform: uppercase; 
    font-weight: 550;
}
.btnBuy:hover {
    border: 1px solid $mainColor2;
}
.btnBuy:focus {
    outline-color: unset;
}
.cakeBase {
    padding-bottom: 50px;
}
.base {
    width: 300px;
    position: absolute;
    top: 25%;
    left: 20%;
}
.base2 {
    display: none;
}
.glaze {
    width: 300px;
    z-index: 2;
    position: absolute;
    left: 20%;
    top: 5.5%;
    display: none;
}
.cakeBase p, .cakeGlaze p {
    color: $mainColor2;
    font-size: large;
}
.constructorCard {
    background-color: $mainColor2;
    height: 350px;
    width: 350px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid $mainColor2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-right: 30px;
}
.cakeBaseGlaze {
    margin-right: 80px;
}
@media (max-width: 1360px) {
    .cupcakeImage {
        margin: 60px 40px 60px 0px;
    }
    .cakeBaseGlaze {
        margin-right: 80px;
    }
    .constructorCard {
        margin-right: 20px;
    }
}
@media (max-width: 1300px) {
    .cupcakeImage {
        margin: 60px 40px 60px 0px;
    }
    .cakeBaseGlaze {
        margin-right: 80px;
    }
    .constructorCard {
        margin-right: 20px;
    }
}
@media (max-width: 1350px) {
    .imgBack p {
        font-size: smaller;
    }
}








