.thumb img {
    filter: none;
    border-radius: 5px;
    background-color: $mainColor1;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
}
.thumb {
    padding: 0;
    position: relative;
}
.productionText {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: url(..//images/production2.jpg);
    background-size: cover;
    background-position: center center;
}
.text {
    font-family: $mainFont;
    z-index: 2;
    text-transform: uppercase;
    font-size: 24px;
    padding: 10px;
    color: $mainColor2;
    background-color: #ffffffc7;
    text-align: center;
    letter-spacing: 1.5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.text a:hover {
    text-decoration: underline;
}
.btnText:hover {
    background-color: $mainColor2;
    color: $mainColor1;
} 
.btnText {
    background-color: $mainColor1;
    color: $mainColor2;
    display: flex;
    align-items: center;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 550;
    border: 2px solid $mainColor2;
    justify-content: center;
    text-align: center;
}
.cakeConstructor {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 80px;
    width: 100%;
    flex-wrap: wrap;
}
.cupcakeImage {
    width: 100%;
    max-width: 400px;
    padding-bottom: 100%;
    margin: auto;
    position: relative;
}
.thumb img:hover {
    border: 2px solid $mainColor2;
}
.imgBack {
    background-color: $mainColor2;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    filter: none;
    border-radius: 5px;
    border: 2px solid $mainColor2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.thumb:hover .imgFront {
    transform: rotateY(180deg);
}
.thumb:hover .imgBack {
    transform: rotateY(0deg);
}
.thumb .imgBack {
    transform: rotateY(-180deg);
}
.thumb .imgFront {
    transform: rotateY(0);
}
.thumb .imgFront, .thumb .imgBack {
    backface-visibility: hidden;
    transition: all 0.3s ease-in;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.cakeTitle {
    color: $mainColor1;
    font-size: 26px;
    font-family: $mainFont; 
    text-transform: uppercase;
}
.ingredients, .price {
    font-family: $textFont;
}
.ingredients span {
    color: $mainColor1;
    text-transform: uppercase; 
}
.price span {
    color: $mainColor1;
    text-transform: uppercase; 
}
.btnBuy {
    background-color: $mainColor1;
    color: $mainColor2;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    text-transform: uppercase; 
    font-weight: 550;
}
.btnBuy:hover {
    border: 1px solid $mainColor2;
}
.btnBuy:focus {
    outline-color: unset;
}
.cakeBase {
    padding-bottom: 50px;
}
.base {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.glaze {
    width: 100%;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}
.cakeBase p, .cakeGlaze p {
    color: $mainColor2;
    font-size: large;
}
.constructorCard {
    background-color: $mainColor2;
    height: 350px;
    width: 100%;
    max-width: 350px; 
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid $mainColor2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $mainColor1;
}
.cardBase, .cardGlaze {
    color: $mainColor1;
    font-size: 26px;
    font-family: $mainFont;
    text-transform: uppercase;
}
.cardGlaze {
    height: 94px;
}
.builder-container h1 {
    margin-bottom: 0;
    margin: auto;
}
.cakesGallery {
    margin-bottom: 80px;
}
.builder-container {
    max-width: 1400px;
    margin: auto;
}
.cakeBaseGlaze {
   max-width: 250px;
   margin: auto;
}
@media (max-width: 1320px) {
    .btnText1 {
        margin-left: 20px;
    }
    .btnText2 {
        margin-right: 20px;
    }
    .text {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 991px) {
    .mb-60-md {
        margin-bottom: 60px;
    }
}
@media (min-width: 768px) and (max-width: 1345px) {
    .ingredients, .price {
        font-size: 12px;
    }
    .cakeTitle {
        font-size: 18px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .btnText {
        width: 200px;
    }
    .btnTextBlock {
        margin-left: 15px;
        margin-right: 15px;
    }
    .btnText1 {
        margin-left: 20px;
    }
    .btnText2 {
        margin-right: 20px;
    }
    .text {
        margin-left: 20px;
        margin-right: 20px;
    }
    .ingredients, .price {
        font-size: 12px;
    }
    .cakeTitle {
        font-size: 18px;
    }
    .mb-60-md {
        margin-bottom: 120px;
    }
    .cakeBaseGlaze {
        margin-bottom: -30px;
    }
    .price2 {
        font-size: 18px;
    }
    .cakesGallery {
        margin-bottom: 50px;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .cupcakeImage {
        padding-bottom: 0;
        height: 480px;
    }
}
@media (max-width: 767px) {
    .productionText {
        flex-direction: column;
    }
    .text {
        margin: 15px 25px;
    }
    .cakeBase p {
        margin-bottom: 0.3rem;
    }
    .cakeBase {
        padding-bottom: 20px;
    }
    .flex-reverse-sm {
        flex-direction: column-reverse;
    }
    .cakeConstructor {
        padding-top: 30px;
        margin-bottom: 40px;
    }
    .mb-60-md {
        margin-bottom: 0;
    }
    .cakeConstructor {
        margin-top: 0;
    }
    .builder-container h1 {
        margin-left: 10px;
        margin-right: 10px;
    }
    .cakesGallery {
        margin-bottom: 50px;
    }
    .btnText1 {
        margin-left: 0;
    }
    .btnText2 {
        margin-right: 0;
    }
}
@media (max-width: 479px) {
    .cupcakeImage {
        padding-bottom: 0;
        max-width: 300px;
        height: 360px;
    }
}