$gradColor: rgba(0, 0, 0, 0.15);
.hero {
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &.main {
        background-image: url(../images/mainImage.jpg);   
    }
    &.about {
        background-image: url(../images/aboutUs.jpg);
    }
    &.contact {
        background-image: url(../images/contacts.jpg);
    }
    &.production {
        background-image: url(../images/production.jpg);
    }
}

.bgMainImage {
    background-image: url(../images/mainImage.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgAboutUsImage {
    background-image: url(../images/aboutUs.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgContactsImage {
    background-image: url(../images/contacts.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bgProductionImage {
    background-image: url(../images/production.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 

@media (max-width: 991px) {
    .hero {
        &.main {
            background-image: linear-gradient(to bottom, $gradColor, $gradColor), url(../images/mainImage.jpg);
        }
        &.about {
            background-image: linear-gradient(to bottom, $gradColor, $gradColor), url(../images/aboutUs.jpg);
        }
        &.contact {
            background-image: linear-gradient(to bottom, $gradColor, $gradColor), url(../images/contacts.jpg);
        }
        &.production {
            background-image: linear-gradient(to bottom, $gradColor, $gradColor), url(../images/production.jpg);
        }
    }
}