.popup .ng-animate {
    transition: all .3s;
}
.popup.ng-scope, .popup.cart {
    opacity: 1;
    visibility: visible;
}
.popup.cart {
    text-align: center;
    z-index: 5;
    user-select: none;
}
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    overflow: auto;
    white-space: nowrap;
    font-size: 0;
    text-align: center;
    display: none;
    opacity: 0;
    visibility: hidden;
    background: rgba(244,243,245,0.8);
}
.popup.ng-scope .popup__window, .popup.cart .popup__window {
    opacity: 1;
    visibility: visible;
    transform: none;
}
.popup.cart .popup__window {
    margin: 0;
    vertical-align: middle;
}
.popup__window {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    font-size: 14px;
    text-align: left;
    padding: 53px 40px 23px;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    max-width: 680px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    transition: all .3s;
    &_sm {
        max-width: 400px;
    }
}
.popup-close {
    position: absolute;
    cursor: pointer;
    right: 24px;
    top: 19px;
    width: 24px;
    height: 24px;
    font-size: 24px;
}
.popup .page-header {
    margin-bottom: 10px;
    margin-top: 0;
}
.page-header {
    font-size: 24px;
    color: $mainColor2;
    text-align: center;
    margin: 20px 0 48px;
    position: relative;
    &_sm{
        font-size: 18px;
        color: $mainColor2;
    }
}
.product-list-wrap {
    margin: 0 0 14px;
    position: relative;
}
.product-list {
    max-height: 50vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 20px 0 0;
    margin: 0 -20px 0 0;
}
.product-list__item:last-child {
    border-bottom: 1px solid #ebebeb;
}
.product-list__item {
    font-size: 0;
    white-space: nowrap;
    border-top: 1px solid #ebebeb;
    padding: 24px 0 27px;
    position: relative;
    display: flex;
    width: 100%;
}
.product__image {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    width: 120px;
    height: 120px;
    font-size: 13px;
    margin: 0 20px 0 0;
}
.product__image img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #ca6074;
}
.product__image+.product__column {
    flex: 1;
}
.product__column {
    display: inline-block;
    vertical-align: top;
    width: 75px;
    white-space: normal;
    position: relative;
}
.product__count-list {
    width: 90px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 9px 0 0;
}
.product__count-list .product__button-increase, .product__count-list .product__button-decrease {
    display: inline-block;
    width: 29px;
    height: 29px;
    border: 1px solid #CCC;
    position: relative;
    overflow: hidden;
    text-indent: -3000px;
    color: transparent;
    vertical-align: top;
    cursor: pointer;
}
.product__count-list input {
    font-size: 12px;
    width: 31px;
    height: 29px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}
.product__count-list .product__button-increase, .product__count-list .product__button-decrease {
    display: inline-block;
    width: 29px;
    height: 29px;
    border: 1px solid #CCC;
    position: relative;
    overflow: hidden;
    text-indent: -3000px;
    color: transparent;
    vertical-align: top;
    cursor: pointer;
}
.product__button-remove {
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    width: 24px;
    height: 40px;
    cursor: pointer;
    font-size: 24px;
    margin-left: 6px;
}
.product__price-column {
    width: 75px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
.product-list__result {
    text-align: left;
    font-size: 13px;
    padding: 0 15px;
    margin: 0 0 24px;
}
.product-list__result span {
    color: #010101;
    float: right;
    font-weight: 600;
}
.product-list__result .total {
    font-weight: 500;
    margin-top: 10px;
}
.product-list__result strong {
    font-weight: 500;
}

.align-center {
    text-align: center;
    position: relative;
}

.popup.cart .button {
    min-width: 280px;
    margin: 0 0 10px;
    background-color: $mainColor2;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    padding: 14px 10px;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; 
}
.link {
    cursor: pointer;
    font-size: 13px;
    color: #333;
    line-height: 1;
    display: inline-block;
    border-bottom: 1px solid #d8d8d8;
}
.popup:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.visible {
    display: block !important;
}
.product__count-list .product__button-increase:before, .product__count-list .product__button-decrease:before {
    content: '';
    position: absolute;
    width: 19px;
    border-top: 1px solid #CCC;
    top: 50%;
    left: 50%;
    margin-left: -9.5px;
    margin-top: -0.5px;
}
.product__count-list .product__button-increase:after {
    content: '';
    position: absolute;
    height: 19px;
    border-left: 1px solid #CCC;
    top: 50%;
    left: 50%;
    margin-top: -9.5px;
    margin-left: -0.5px;
}

.product__price {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    margin: 0 0 22px;
}
.product__header {
    font-weight: 500;
    font-size: 13px;
    color: #333;
    margin: 0 0 1px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.product-list__result .total {
    font-weight: 500;
    margin-top: 10px;
}
.order input {
    display: block;
    width: 100%;
}
.form-group input.form-control {
    &:focus {
        outline-width: 5px;
        box-shadow: none;
        outline-offset: -2px;
        outline-color: $mainColor2;
        outline-style: auto;
    }
}
.popup.order .button {
    margin-top: 15px;
}
@media (max-width: 767px) {
    .popup__window {
        width: 100%;
        height: 100%;
        padding: 35px 20px 10px;
    }
    .popup-close {
        right: 10px;
        top: 9px;
    }
    .product-list {
        max-height: 58vh;
    }
    .product-list__item {
        white-space: normal;
        padding: 10px 0 10px;
    } 
    .product__image {
        width: 100px;
        height: 100px;
        margin: 0 10px 0 0;
    }
    .product__header {
        font-size: 9px;
        padding-right: 70px;
    }
    .product__price {
        font-size: 10px;
    }
    
    .product__price-column {
        width: 55px;
    }
    .product__count-list .product__button-increase:before, .product__count-list .product__button-decrease:before {
        width: 9px;
        margin-left: -5px;
    }
    .product__count-list .product__button-increase:after {
        height: 9px;
        margin-left: -1px;
        margin-top: -5px;

    }
    .popup__window_sm .popup-content {
        margin-top: 20px;
    }
    .popup__window.popup__window_sm {
        max-width: 280px;
        width: 100%;
        max-height: 500px;
        height: 100%;
    }
    .popup.order .button {
        min-width: 200px;
    }
}


