<!DOCTYPE html>
<html lang="ua">
{{> head title="Про нас — LoveCake: інтернет-магазин капкейків"}}

<body>

  <div class="wrapper">

    {{> header activeItem="about"}}

    {{>
            hero
            className="about"
            logo="With Love"
            slogan="For You"
        }}

    <div class="aboutUsContent">
      <div>
        <h1>Наша команда</h1>
      </div>
      <div class="card-deck">

        {{> 
                card
                img="./images/team1.png"
                alt="Анастасія"
                title="Анастасія"
                card-title="Анастасія"
                description="Головний кондитер у команді. Зможе вислухати вас і втілити в життя пропозиції на будь-який смак і вигляд"
        }}

        {{> 
                card
                img="./images/team2.png"
                alt="Булочка"
                title="Булочка"
                card-title="Булочка"
                description="Прискріпливий дегустатор продукції для майбутніх капкейків. Можете сміливо довіритися
              її смаку та досвіду!"
        }}

        {{> 
                card
                img="./images/team3.png"
                alt="Олександра"
                title="Олександра"
                card-title="Олександра"
                description="Талановитий генератор ідей. Нові смаки та пропозиції щодо дизайну капкейків
              народжуються саме тут"
        }}

      </div>
    </div>

    <div class="aboutUsText">
      <p>Ми розпочинали виготовлення капкейків з того, що пригощали друзів і дарували солодкі сюрпризи рідним на свята.
        Але ця справа настільки захоплива та смачна, що просто неможливо зупинитися! Тому хочемо ділитися своєю
        продукцією з вами. Ми можемо втілити в життя ваші пропозиції за будь-яким смаком і дизайном, адже любимо приємно
        дивувати не лише вас, а і себе, готуючи щось надзвичайне. Ми любимо свою справу — і ви неодмінно відчуєте це,
        спробувавши наші капкейки!</p>
      <div class="aboutUsText2"></div>
    </div>


    {{> footer}}
    {{> cart}}
    {{> confirmation}}

  </div>

  {{> scripts}}
</body>

</html>