<!DOCTYPE html>
<html lang="ua">
{{> head title="Contacts"}}

<body>

    <div class="wrapper">

        {{> header activeItem="contacts"}}

        {{>
            hero
            className="contact"
            logo="CupCakes"
            slogan="For You"
        }}

        <div class="contactsContent">

            <h1>Наші капкейки вже чекають на вас</h1>

            <div class="contactsMain">

                {{> contactForm}}

            </div>

        </div>

        {{> footer}}
        {{> cart}}
        {{> confirmation}}

    </div>

    {{> scripts}}
</body>

</html>