<!DOCTYPE html>
<html lang="ua">
{{> head title='LoveCake: інтернет-магазин капкейків'}}

<body>

  <div class="wrapper">
    {{> header activeItem="home"}}

    {{>
        hero
        className="main"
        logo="LoveCake"
        slogan="For You"
    }}

    <div class="mainContent">
      <div class="container-fluid cards-wrap">
        <!-- <div> -->
        <h1>Наші солодкі пропозиції</h1>
        <!-- </div> -->
        <div class="card-deck">
          {{> 
                card
                img="./images/cake1.png"
                alt="Завжди дуже смачно"
                title="Завжди дуже смачно"
                card-title="Завжди дуже смачно"
                description="Поєднання смаків у наших капкейках дійсно створене для вашої насолоди — ми дегустуємо та обираємо найсмачніше для клієнтів"
            }}
          {{> 
                card
                img="./images/cake2.png"
                alt="Цікаве та стильне оформлення"
                title="Цікаве та стильне оформлення"
                card-title="Цікаве та стильне оформлення"
                description="У нас ви можете обрати капкейки не лише на будь-який смак, а і на вигляд, адже ми можемо втілити будь-які побажання та пропозиції"
            }}
          {{> 
                card
                img="/images/cake3.png"
                alt="Лише натуральні інгредієнти"
                title="Лише натуральні інгредієнти"
                card-title="Лише натуральні інгредієнти"
                description="Ми готуємо не тільку смачну, а і насправді корисну продукцію, тому ви можете ласувати капкейками навіть з маленькими дітьми"
            }}
        </div>
      </div>
    </div>

    <div class="productionText">
      <a class="btnText btnText1" href="/production.html#cakesGallery" title="Обрати капкейк">Обрати</a>
      <div class="text">Обирайте серед наявних капкейків або створюйте їх на свій смак</div>
      <a class="btnText btnText2" href="/production.html#cakeConstructor" title="Створити капкейк">Створити</a>
    </div>


    <div class="contactsContent">

      <h1>Наші капкейки вже чекають на вас</h1>

      <div class="contactsMain">

        {{> contactForm}}

      </div>

    </div>

    {{> footer}}

    {{> cart}}
    {{> confirmation}}


  </div>

  {{> scripts}}

</body>

</html>