<!DOCTYPE html>
<html lang="ua">

{{> head title="Production"}}

<body>

    <div class="wrapper">

        {{> header activeItem="production"}}

        {{>
            hero
            className="production"
            logo="LoveCake"
            slogan="For You"
        }}

        <div class="productionText">
            <p class="text"><a href="#cakesGallery">Обирайте серед наявних капкейків</a> <a href="#cakeConstructor">або
                    створюйте їх на свій
                    смак</a></p>

            <div class="productionText2"></div>
        </div>

        <div class="cakesGallery" id="cakesGallery">
            <div class="container-fluid">
                <div class="row">
                    {{> 
                        cupcake
                        img="./images/1.jpg"
                        alt="..."
                        title="М'ятний капкейк"
                        ingredients="борошно, вершкове масло, цукор, яйця, ванілін, м'ята, сметана, молоко, білий шоколад, харчовий барвник"
                        price="50"
                        button="1"
                    }}
                    {{> 
                        cupcake
                        img="./images/2.jpg"
                        alt="..."
                        title="Святковий капкейк"
                        ingredients="борошно, вершкове масло, цукор, розпушувач, яйця, ванілін, молоко, сметана, білий шоколад, молочний шоколад"
                        price="50"
                        button="2"
                    }}
                    {{> 
                        cupcake
                        img="./images/3.jpg"
                        alt="..."
                        title="Вершковий капкейк"
                        ingredients="борошно, вершкове масло, цукор, яйця, ванілін, вершки, сметана, молоко, білий шоколад, горіхи"
                        price="50"
                        button="3"
                    }}
                    {{> 
                        cupcake
                        img="./images/4.jpg"
                        alt="..."
                        title="Полунично-шоколадний капкейк"
                        ingredients="борошно, вершкове масло, цукор, яйця, ванілін, полуниця, сметана, молоко, білий шоколад, темний шоколад"
                        price="50"
                        button="4"
                    }}
                    {{> 
                        cupcake
                        img="./images/5.jpg"
                        alt="..."
                        title="Шоколадний капкейк"
                        ingredients="борошно, вершкове масло, цукор, яйця, ванілін, волоський горіх, сметана, молоко, молочний шоколад, темний шоколад"
                        price="50"
                        button="5"
                    }}
                    {{> 
                        cupcake
                        img="./images/6.jpg"
                        alt="..."
                        title="Малиновий капкейк"
                        ingredients="борошно, вершкове масло, цукор, яйця, ванілін, малина, сметана, молоко, білий шоколад, харчовий барвник"
                        price="50"
                        button="6"
                    }}
                    {{> 
                        cupcake
                        img="./images/7.jpg"
                        alt="..."
                        title="Горіховий капкейк"
                        ingredients="борошно, вершкове масло, цукор, яйця, ванілін, волоський горіх, сметана, молоко, мигдаль, темний шоколад"
                        price="50"
                        button="7"
                    }}
                    {{> 
                        cupcake
                        img="./images/8.jpg"
                        alt="..."
                        title="Ожиновий капкейк"
                        ingredients="борошно, вершкове масло, цукор, яйця, ванілін, ожина, сметана, молоко, білий шоколад, харчовий барвник"
                        price="50"
                        button="8"
                    }}
            </div>
        </div>
    </div>

    {{!-- <div class="cakeConstructor" id="cakeConstructor">
            <div class="cupcakeImage img-fluid">
                <img src="./images/constructor.png" alt="">
            </div>

        </div> --}}

    {{> footer}}
    {{> cart}}

    </div>

    {{> scripts}}

</body>

</html>