<!DOCTYPE html>
<html lang="ua">

{{> head title="Production"}}

<body>
{{> products_js}}
    <div class="wrapper">

        {{> header activeItem="production"}}

        {{>
            hero
            className="production"
            logo="LoveCake"
            slogan="For You"
        }}

        <div class="productionText">
            <p class="text"><a href="#cakesGallery">Обирайте серед наявних капкейків</a> <a href="#cakeConstructor">або
                    створюйте їх на свій
                    смак</a></p>

            <div class="productionText2"></div>
        </div>

        <div class="cakesGallery" id="cakesGallery">
            <div class="container-fluid">
                <div class="row">
                    {{#each products}}
                    {{> 
                        cupcake
                        img=this.img
                        alt="..."
                        title=this.name
                        ingredients=this.inredients
                        price=this.price
                        button=this.id
                    }}
                    {{/each}}
            </div>
        </div>
    </div>

    {{!-- <div class="cakeConstructor" id="cakeConstructor">
            <div class="cupcakeImage img-fluid">
                <img src="./images/constructor.png" alt="">
            </div>

        </div> --}}

    {{> footer}}
    {{> cart}}

    </div>

    {{> scripts}}

</body>

</html>